extends layout

block content
  h3 Accounts
  table.table
    thead
      tr
        th Address
        th Balance (ClickCoins)
    tbody
      for account in accounts
        tr
          td 
            a(href="/account/" + account.address) #{nameformatter.format(account.address)}
          td #{account.balance}
  include mixins/pagination
  +pagination(page, pages, '/accounts')